.navbar {
  display: block;
  list-style-type: none;
  width: 15%;
  background-color: white;
  height: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
}

.navlinks {
  margin-top: 1rem;
}

li > a {
  display: grid;
  text-decoration: none;
  color: #78866b;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 1rem 0 1rem 0;
  font-size: large;
  width: 80%;
  text-align: left;
  text-indent: 1rem;
  border-radius: 20px;
  border: white solid;
}

li > a:hover {
  border: #78866b solid;
  color: #78866b;
}

li > a.active {
  border: 0.1rem #d0d9cd solid;
  background-color: #d0d9cd;
  color: #687169;
}
