.navbar {
  display: block;
  list-style-type: none;
  width: 25%;
  background-color: #f4f3ef;
  height: 100%;
  position: fixed;
  overflow: auto;
  right: 0;
  top: 0;
}

.profile {
  width: 80%;
  margin-top: 1rem;
  text-align: right;
  font-weight: 700;
}
